In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = {'Old_machine': [42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1],
        'New_machine': [42.1, 41, 41.3, 41.8,42.4,42.8,43.2,42.3,41.8,42.7]}
## though can do it with a command that creates that dataframe from txt , decided to do it like this as it is a bit less commands

In [8]:
df = pd.DataFrame(data)
df

## H0 New_machine higher than Old_Machine
## H1 is less than Old_Machine

   Old_machine  New_machine
0         42.7         42.1
1         43.6         41.0
2         43.8         41.3
3         43.3         41.8
4         42.5         42.4
5         43.5         42.8
6         43.1         43.2
7         41.7         42.3
8         44.0         41.8
9         44.1         42.7

In [10]:
df.Old_machine.mean()

43.230000000000004

In [11]:
df.New_machine.mean()

42.14

In [36]:
st.ttest_rel(df.New_machine, df.Old_machine)
## since pval is less than 0.05 we can reject ## H0 New_machine higher than Old_Machine
## though not needs stat is showing that New_Machine is more likely less , we see  it as well from mean

Ttest_relResult(statistic=-3.0614273841115844, pvalue=0.013540335651632521)

In [27]:
pokemon = pd.read_csv('files_for_lab/pokemon.txt')
pokemon.head(30)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
25,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
27,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False

In [37]:
sample=pokemon[["Attack","Defense"]]
sample.isnull().sum()
## sample and check if null exists 

#hypothesis 
## h0 Attack and Defense are equal
## h1 the two are not equal 

print(sample)

     Attack  Defense
0        49       49
1        62       63
2        82       83
3       100      123
4        52       43
..      ...      ...
795     100      150
796     160      110
797     110       60
798     160       60
799     110      120

[800 rows x 2 columns]

In [33]:
st.ttest_ind(pokemon['Attack'], pokemon['Defense'], equal_var=False) 

##pval is less than 0.05 therefor h0 can be rejected 
## as stat is 3.2 we can assume that attack is segnificantly higher

Ttest_indResult(statistic=3.2417640740423126, pvalue=0.0012124374824544375)

In [38]:
pokemon['Attack'].mean()

## mean is giving us a better view

79.00125

In [39]:
pokemon['Defense'].mean()
## mean in Defense is lower

73.8425